*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  color: #fff;
}

/* shered style */
body p{
    color: gray;
    font: 16px;
}
.bg-color{
    background: linear-gradient(to bottom left, rgba(145, 0, 248, 1),rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
}
.btn{
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
   
}
@keyframes plas{
    0%{
        transform: scale(1);
    }
    /* 50%{
        transform: scale(1.2);
    } */
    100%{
        transform: scale(1.1);
    }
}


.nav-container,
.about-section,
.chooese-container,
.featured-box,
.host-container,
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}
.bg-color2{
    background-color: #1A0B2E;
}
.humber{
    display:none;
}

.hedding{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.had-h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
/* header related style */

/* nav style */
.nav-btn{
     animation: plas 1s infinite alternate;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
}
.links{
    display: flex;
    gap: 32px;
}
.links .item{
    list-style: none;
    
}
.links .link{
    text-decoration: none;
    color: #fff;
}

/* banner style */

.banner{
   background-image: url(./assets/hero-bg.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 50px 0 80px;
   max-width: 100%;
   
}
.banner-container{
    max-width: 550px;
    margin:0 auto;
    text-align: center;
    
}

.banner-image{
   max-width: 350px;
   height: 350px;
   border-radius: 50%;
   margin: 0 auto 40px;
}
.new{
    background-color: #00FF88;
    max-width: 75px;
    margin-left: 243px;
    /* margin-top: 12px; */
    padding: 8px 16px;
    border-radius: 16px;
    color:#000;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
}
.mick{
    margin: 70px 75px 0;
}

.banner-content h2{
font-size: 3.75rem;
margin-bottom: 8px;
font-weight: 800;

}
.banner-content button{
    margin-top: 16px;
}
.banner-btn{
    background: transparent;
    color: #00FF88;
    border: 2px solid #00FF88;
    margin-left: 8px;
}

/* about related style */
.about-section{
    padding: 50px 0 100px;
}
.about{
    background-color: #1A0B2E;
}
.hedding>p{
    line-height: 30px;
}
hr{
    margin: 80px 0;
    border: 1px solid #4e504cbd;
}
.about-box{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    gap: 80px;
}
.about-card{
    max-width: 240px;
    text-align: center;
}
.about-card>h3{
    font-size:3rem;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;
}
/*  Why Choose Section */
.choose{
    background: rgba(35, 14, 61, 1);
    padding: 100px 0;
}
.choose>h2{
    margin-bottom: 40px;
}
.chooese-container>*{
     align-content: center;
     padding: 40px;
     background-color: rgba(53, 17, 101, 0.4);
     border-radius: 40px;
}
.chooese-container>*>img{
    margin-bottom: 16px;
}
.chooese-container>*>h3{
 font-size: 1.5rem;
 font-weight: bold;
 margin-bottom: 16px;
}
.audio{
    grid-area: audio;
}
.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.intervew{
    grid-area: intervew;
}
.rice{
    grid-area: rice;
}

.chooese-container{

    display: grid;
    gap: 30px;
    grid-template-areas: 
    
    "audio  mobile   mobile  "
    "audio  global   global"
    "intervew  intervew rice"
    ;

}
/* featured related style */
.featured{
    background: #1A0B2E;
    padding-top: 100px;
}
.featured-box{
    display: flex;
    gap: 30px;
}
.featured>.hedding>h2{
    margin-bottom: 40px;
}
.featured-card{
    max-width: 380px;
}

.featured-card>.iframe>iframe{
    width: 100%;
    height:214px;
    border-radius: 20px 20px 0 0;
}
.reatured-contant{
    margin: 20px;
}
.reatured-contant>h4{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
}
.reatured-contant>h5{
    color: #00FF88;
    font-weight: 600;
    margin-top: 12px;
}

/* host related style */
.host-section{
   background-color: #1A0B2E;
   padding: 100px 0;
    
}
.host-container{
    display: flex;
    align-items: center;
    gap: 24px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 20px;
}
.host-contant{
    max-width: 895px;
}
.host-contant h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.host-contant p{
margin-bottom: 16px;
}

.icon-box>.icon{
    height: 40px;
    width: 40px;
    padding: 10px;
    border: 1px solid rgba(78, 78, 78, 0.527);
    border-radius: 50%;
}
.icon-box{
    display: flex;
    gap: 8px;
}
/* footer related style */
.footer{
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 120px 0;
   
}
.footer-container{
    text-align: center;
    
}
.footer-links{
    display: flex;
    gap: 40px;
    max-width: 544px;
    margin: 32px auto;

}
.footer-links .footer-iteme{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: gray;
}

.icons{
    color: #fff;
}




/* responsive mobile style */
@media screen and (max-width:576px) {
    /* shered style */
    .had-h2{
        font-size: 2rem;
    }
    
    /* nav section */
    .humber{
        display: inline;
    }
    .nav-btn,
    .links{
        display: none;
    }
    
    /* banner section */
    .banner{
        padding-top: 100px;
        background-image: url(./assets/Image.png);
    }
    .banner-image{
   max-width: 200px;
   height: 200px;
   
   }
   .mick{
    height: 80px;
    max-width: 80px;
    margin: 30px auto;
}
.new{
   
    max-width: 70px;
    margin-left: 130px;
   
    padding: 8px 16px;
}
.about-box{
    
    margin: 0 auto;
   
    grid-template-columns: repeat(2,1fr);
    
    gap: 80px;
}
.chooese-container{
    grid-template-areas: 
    
    "audio  audio  audio "
    "mobile mobile  mobile"
    " global  global  global"
    "intervew  intervew intervew"
    "rice  rice  rice"
    ;

}
.featured-box{
   flex-direction: column;
   padding: 0 15px;
    gap: 30px;
}
.featured-card{
    margin: 0 auto;
}

.host-container{
    flex-direction: column;
    text-align: center;
    padding: 20px;
   
}
.host-section{
    padding: 50px 20px;
}
.icon-box{
   justify-content: center;
}
.footer{
    background-image: url(./assets/footer2.png);
    background-size: cover;
   

}
.footer-links{
  flex-wrap: wrap;
  justify-content: center;
   
}
}