*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  color: #fff;
}

/* shered style */
.bg-color{
    background: linear-gradient(to bottom left, rgba(145, 0, 248, 1),rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
}
.btn{
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    color: #fff;
}

/* header related style */

/* nav style */


/* banner style */

.banner{
   background-image: url(./assets/hero-bg.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 50px 0 80px;
   max-width: 100%;
   
}
.banner-container{
    max-width: 550px;
    margin:0 auto;
    text-align: center;
    
}

.banner-image{
   max-width: 350px;
   height: 350px;
   border-radius: 50%;
   margin: 0 auto 40px;
}
.new{
    background-color: #00FF88;
    max-width: 75px;
    margin-left: 243px;
    /* margin-top: 12px; */
    padding: 8px 16px;
    border-radius: 16px;
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
}
.mick{
    margin: 70px 75px 0;
}

.banner-content h2{
font-size: 3.75rem;
margin-bottom: 8px;
font-weight: 800;

}
.banner-content button{
    margin-top: 16px;
}
.banner-btn{
    background: transparent;
    color: #00FF88;
    border: 2px solid #00FF88;
    margin-left: 8px;
}








/* responsive mobile style */
@media screen and (max-width:576px) {

    /* banner section */
    .banner{
        padding-top: 100px;
    }
    .banner-image{
   max-width: 200px;
   height: 200px;
   
   }
   .mick{
    height: 80px;
    max-width: 80px;
    margin: 30px auto;
}
.new{
   
    max-width: 70px;
    margin-left: 130px;
   
    padding: 8px 16px;
}
}